body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  font-weight: 400;
  font-style: normal;
}

.page-nav {
  list-style: none;
}
.nav-list {
  list-style: none;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  text-decoration: none;
}

.header-logo-web {
  color: #2e2f42;
}

.nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-list-link {
  color: #2e2f42;
  text-decoration: none;
}
.nav-list-link:hover,
.nav-list-link:focus {
  text-decoration: underline;
  color: #404bbf;
}
.nav-list-link,
.address-list {
  list-style: none;
}
.address-nav {
  font-style: normal;
}
.address-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.solutions {
  background-color: #2e2f42;
}
.solutions-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: white;
}
.solutions-button {
  background: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
}
.solutions-button:focus,
.solutions-button:hover {
  background-color: #404bbf;
}
.benefits {
  background-color: white;
}
.benefits-list {
  list-style: none;
}

.benefits-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  list-style: none;
}
.team-list-item {
  background-color: #ffffff;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio {
  background-color: white;
}
.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list {
  list-style: none;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-heading-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.lastinfo {
  background-color: #2e2f42;
}
.lastinfo-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.lastinfo-logo-web {
  color: #f4f4fd;
}

.lastinfo-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
